{% extends 'base.html.twig' %}

{% block title %}Fou2serie-Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h1 class="text-center">Bienvenue sur FouSerie</h1>
<div class="view overlay">
    <img src="https://www.apple.com/v/apple-tv-plus/b/images/meta/og__dfuxjc199oya.png" class="img-fluid" alt="Sample image with waves effect.">
    <a>
      <div class="mask waves-effect waves-light rgba-white-slight"></div>
    </a>
  </div>
  
 
</div>
{% endblock %}