{% extends 'base.html.twig' %}

{% block title %}Fou2Serie-Admin
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

<h1>Etes vous sur de vouloir supprimer ?</h1>
<div class="text-center">
    <a class="btn btn-primary" href="{{path('confirme',{'id':serie.id})}}">oui</a>
    <a class="btn btn-primary" href="{{path('serie')}}">non</a>
</div>


    </div>
{% endblock %}
